body {
background-color: black;
padding: 10px;
color: white;
font-family: cursive;
width: auto;
height: auto;

}
#main {
padding: 10px;
border: 2px solid black;
background-color: #2a2b40;
height: auto;

}
nav {
background-color: #0a0a23;
display: flex;
flex-wrap: wrap;
height: auto;
width: auto;
border: 2px solid black;

}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 20px;
padding-left: 35%;
}

nav li:hover a {
    /* color:cornflowerblue; */
    border-bottom: 3px solid white;
    text-shadow: 2px 2px 5px red;
}
nav ul li a {
    color: antiquewhite;
    padding: 10px;
    text-decoration: underline;
    margin: 20px;
}

#optionsNav {
left: 265px;
top: 0;
margin: auto;
width: -webkit-fill-available;
height: auto;
margin-top: 26px;
margin-bottom: -72px;
margin-left: auto;
margin-right: auto;

}

#navDiv {
    display: grid;
    margin-left: auto;
    grid-template-columns: 50px 50px 50px;
    grid-gap: 31px;
}

.link-logo {
    margin: 20px 10px 20px auto;
}

/* linkedin & instagram */

.logo {
    width: 30px;
    height: 30px;
}

/* fb */

.logo2 {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
}
#marqDiv {
    padding: 20px;
}
#marData{
background-color : #0a0a23;
color : chartreuse;

}
/* #marqDiv,
marquee {
    background-color: #0a0a23;
    color: chartreuse;
} */

#title {
    text-align: center;
    font-family: oswald;
    color: whitesmoke;
}
.dotcom {
    color: #4caf50;
}

.data {
    color: antiquewhite;
}

#image {
    width: 497px;
    height: auto;
    border: 3px double #0a0a23;
    border-radius: 31px 0;
    display: block;
    margin: 21px auto auto;
    image-rendering: -webkit-optimize-contrast;
}

#image:hover {
    transform: scale(1.1);
    image-rendering: pixelated;
}
.resp-img {
    display: block;
    max-width: 100%;
}

#img-caption {
    text-align: center;
    border: 2px solid;
    border-color: #0a0a23;
    color: white;
    text-decoration: underline;
    position: relative;
    width: 33%;
    margin: 8px auto auto;
    top: 14px;
    border-radius: 50px;
}

#img-caption:hover {
    text-shadow: 2px 2px 5px red;
}

#tribute-info {
    padding: 21px;
}
#img-div {
    width: 497px;
    margin: auto;
}

.gridData{
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-column-gap: 113px;
    grid-row-gap: 113px;
    padding-left: 186px;
    padding-top: 70px;
    padding-bottom: 48px;
    width: fit-content;
    margin-right: 110px;
    height: auto;

}


.box{
    width: 302px;
    height: auto;
    border: 2px solid wheat;
    box-shadow: 2px 2px 13px dimgrey;
background-color: #2d3277;



}
.box:hover{
    box-shadow: 2px 2px 13px red;
    transform: scale(1.1);
    background-color: #0a0a23;
    border: 2px solid black;
    color: chartreuse;

}
.htmllogo
{
width: 174px;
height: auto;
position: relative;
left: 62px;

}
.problem{
width : 240px;
position : relative;
top : 23px;
left : 41px;

}

.problem1{
width: 221px;
position: relative;
left: 40px;
}

footer{
    height: auto;
    width: auto;
    border: 2px solid black;
}

.foottext{
margin-left: auto;
display: flex;
padding: 7px;
padding-right: 22px;
color: green;
}

.footernav{
background-color: #0a0a23;
display: flex;
flex-wrap: nowrap;
height: 70px;
border: 2px solid black;
}

.footanchor{
color: limegreen;
text-decoration: none;
}

.footanchor2{
height: 15px;
}

.footanchor:hover{
    text-shadow: 2px 2px 3px darkred;
    border-bottom: 2px solid white;
}



.footbuttons{
display: grid;
grid-template-columns: 130px 78px 68px;
margin-top: 20px;
margin-left: 19px;

}

button{
color: floralwhite;
background-color: black;

}

.template{
text-align: center;
padding: 11px;
}
 .template1{
padding: 32px;
text-align: center;
width: 293px;
position: relative;
left: -24px;


 }

 .template2{
padding: 4px;
text-align: center;

 }

 .template3{
padding: 24px;
text-align: center;

 }
html{
height: auto;
width: fit-content;

}